html {
  min-height: 100%;
  margin: 0;
  padding: 0; }

body {
  color: #000;
  min-height: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box; }

a {
  color: #000; }

button {
  border: none;
  background-color: transparent; }

.disabled {
  cursor: not-allowed;
  opacity: .5;
  pointer-events: none; }

.cancel {
  background-color: #ff0000;
  color: #fff; }

.progress-bar-complete {
  border-radius: 10px; }

.page-main {
  max-width: 1200px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto; }

.items {
  padding-left: 0; }

.items:first-of-type {
  border-top: 1px solid #ccc; }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 15px 0; }

.item__content {
  display: flex;
  min-width: 200px;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.item__photo {
  margin-right: 0;
  margin-bottom: 10px; }

.item__text {
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.item__title {
  font-weight: bold; }

.item__button {
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  padding: 3px 15px;
  cursor: pointer; }

.item__button:hover {
  opacity: 0.8; }

.item__button:active {
  opacity: 0.5; }

.counter {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-bottom: 10px; }

.counter__value {
  width: 30px;
  text-align: center;
  border: none;
  background-color: transparent; }

.counter__button {
  border: 1px solid #ff0000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  vertical-align: top;
  cursor: pointer;
  position: relative; }

.counter__button:hover {
  background-color: #ff0000; }

.counter__button:hover::before {
  background-color: #fff; }

.counter__button:hover::after {
  background-color: #fff; }

.counter__button:active {
  background-color: #ff0000; }

.counter__button--increment::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 11px;
  background-color: #ff0000;
  top: 6px;
  left: 11px; }

.counter__button--increment::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 1px;
  background-color: #ff0000;
  top: 11px;
  left: 6px; }

.counter__button--decrement::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 1px;
  background-color: #ff0000;
  top: 11px;
  left: 6px; }

.order {
  display: flex;
  justify-content: space-around;
  margin: 40px 0; }

.order__number {
  line-height: 30px;
  white-space: nowrap;
  margin: 0;
  font-weight: 500; }

.scale__line {
  display: inline-block;
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px; }

.scale__val {
  height: 30px;
  background-color: #ff0000;
  position: relative;
  border-radius: 10px 0 0 10px; }

.scale__value {
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  margin-top: 5px;
  top: 30px;
  left: 85%; }

@media (min-width: 550px) {
  .items {
    margin-top: 40px; }
  .item {
    flex-direction: row; }
  .item__content {
    display: flex;
    flex-direction: row; }
  .item__photo {
    margin-right: 20px;
    margin-bottom: 0; }
  .item__text {
    margin-bottom: 0; }
  .item__title {
    margin-top: 0;
    margin-right: 20px; }
  .item__description {
    margin-bottom: 0; }
  .counter {
    margin-bottom: 0;
    margin-right: 10px; }
  .order {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 40px auto; } }
