.container {
  width: 960px;
  margin: 0 auto;
}

.main-nav__list {
  padding-left: 0;
}

.main-nav__item {
  padding: 10px 0;
  list-style: none;
}

.main-nav__link {
  color: #000;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  border-bottom: 1px dashed #000;
}

.main-nav__link:hover {
  color: #000;
  border-bottom: none;
}
