.page-header {
  border: none;
}

.top-buffer {
  margin-top: 40px;
}

.bottom-buffer {
  margin-bottom: 40px;
}

.top-buffer--1 {
  margin-top: 52px;
}

h2 {
  font-size: 25px;
}

.article-photo {
  width: 100%;
}

.article-photo:hover {
  box-shadow: 0 0 0 4px black;
}


@media (max-width: 767px) {

  .col-xs-offset-1 {
    margin: 0;
  }
}
